*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

*.class
*.war
*.ear

# Eclipse files and directories
.cproject
.project
.settings
.classpath
.pmd
.ruleset
.springBeans


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# for hybris
extensioninfo.xsd
build.xml
beans.xsd
items.xsd

eclipsebin/*
classes/*
gensrc/*

telcotrailcore-webtestclasses.xml
telcotrailcore-testclasses.xml

telcotrailcockpits-webtestclasses.xml
telcotrailcockpits-testclasses.xml

telcotrailfacades-webtestclasses.xml
telcotrailfacades-testclasses.xml

telcotrailinitialdata-webtestclasses.xml
telcotrailinitialdata-testclasses.xml

telcotrailstorefront-webtestclasses.xml
telcotrailstorefront-testclasses.xml

