*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

*.class
*.war
*.ear

# Eclipse files and directories
.externalToolBuilders
.settings
.cproject
.project
.classpath
.pmd
.ruleset
.springBeans


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# for hybris
extensioninfo.xsd
build.xml
beans.xsd
items.xsd

eclipsebin/*
classes/*
gensrc/*

**/gensrc/*

custom/**/gensrc/*

custom/training/gensrc/

telcotrailcore-webtestclasses.xml
telcotrailcore-testclasses.xml

telcotrailcockpits-webtestclasses.xml
telcotrailcockpits-testclasses.xml

telcotrailfacades-webtestclasses.xml
telcotrailfacades-testclasses.xml

telcotrailinitialdata-webtestclasses.xml
telcotrailinitialdata-testclasses.xml

telcotrailstorefront-webtestclasses.xml
telcotrailstorefront-testclasses.xml

training-webtestclasses.xml
training-testclasses.xml

traininghmc-webtestclasses.xml
traininghmc-testclasses.xml

dummy.txt
/custom/telcotrailcore/gensrc/de/hybris/telcotrail/core/jalo/GeneratedClassificationNotBlankConstraint.java
/custom/telcotrailcore/gensrc/de/hybris/telcotrail/core/constants/GeneratedTelcotrailCoreConstants.java
/custom/telcotrailcore/gensrc/de/hybris/telcotrail/core/jalo/GeneratedAccessory.java
/custom/telcotrailcore/gensrc/de/hybris/telcotrail/core/jalo/GeneratedDevice.java
/custom/telcotrailcore/gensrc/de/hybris/telcotrail/core/jalo/GeneratedProductReferencesAndClassificationsComponent.java
/custom/telcotrailcore/gensrc/de/hybris/telcotrail/core/jalo/GeneratedProductReferencesAndClassificationsForDevicesComponent.java
/custom/telcotrailcore/gensrc/de/hybris/telcotrail/core/jalo/GeneratedServiceAddOn.java
/custom/telcotrailcore/gensrc/de/hybris/telcotrail/core/jalo/GeneratedServicePlan.java
/custom/telcotrailcore/gensrc/de/hybris/telcotrail/core/jalo/GeneratedTelcotrailCoreManager.java
/custom/telcotrailcockpits/gensrc/de/hybris/telcotrail/cockpits/constants/GeneratedTelcotrailCockpitsConstants.java
/custom/telcotrailfacades/gensrc/de/hybris/telcotrail/facades/constants/GeneratedYtelcoacceleratorfacadesConstants.java
/custom/telcotrailinitialdata/gensrc/de/hybris/telcotrail/initialdata/constants/GeneratedTelcotrailInitialDataConstants.java
/custom/training/gensrc/com/epam/training/constants/GeneratedTrainingConstants.java
/custom/training/gensrc/com/epam/training/jalo/GeneratedTrainingManager.java
/custom/training/gensrc/com/epam/training/jalo/GeneratedOrganization.java
/custom/training/gensrc/training/GeneratedTypeInitializer.java
/custom/traininghmc/gensrc/com/epam/traininghmc/constants/GeneratedTraininghmcConstants.java
/custom/traininghmc/gensrc/com/epam/traininghmc/jalo/GeneratedTraininghmcManager.java
/custom/telcotrailcockpits/classes/de/hybris/telcotrail/cockpits/constants/GeneratedTelcotrailCockpitsConstants.class
/custom/telcotrailcockpits/classes/de/hybris/telcotrail/cockpits/constants/TelcotrailCockpitsConstants.class
